* {
	text-align: center;
}

table {
	text-align: center;
	margin: auto;
}

li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	font-family: 'Ubuntu Condensed', sans-serif;
	letter-spacing: 2px;
  	position: relative;
  	padding-bottom: 20px;
  	margin: 0 34px 0 30px;
  	font-size: 17px;
  	text-transform: uppercase;
  	display: inline-block;
  	transition: color .2s;
}